@model Attendance.ViewModels.EmployeesAttendancesViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div class="form-group">
    <label>Дата</label>
    <input />
    @*@Html.TextBoxFor(Model.Select(m=>m.Id==5), new { @class = "form-control" })*@
</div>

<table class="table">
    <tr>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Фамилия</th>
        <th>Должность</th>
        <th>Время прихода</th>
        <th></th>
        <th>Время ухода</th>
        <th></th>
    </tr>


    @foreach (var employee in Model.Employees)
    {
    <tr>
        @using (Html.BeginForm("SaveTime", "AttendanceRec"))
        {
            <td>@employee.Name</td>
            <td>@employee.Patronymic</td>
            <td>@employee.Surname</td>
            <td>@employee.Position</td>

            <td>
                @Html.TextBoxFor(m => Model.TimeInInput, new { @class = "form-control" })
            </td>
            <td>
                <button type="submit" name="SaveTimeIn" class="btn btn-primary">Сохранить</button>
            </td>
            <td>
                @Html.TextBoxFor(m => Model.TimeOutInput, new { @class = "form-control" })
            </td>
            <td>
                <button type="submit" name="SaveTimeOut" class="btn btn-primary">Сохранить</button>
                <input type="hidden" value="@employee.Id" name="EmpId" />
            </td>
        }
    </tr>

    }

</table>
